
main {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem;
}

header>img{
    margin-left: 40%;
    width: 20%
}

h1{
    text-align: center;
}


nav>ul{
    margin-right: 3vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav > li{
    flex-basis: 20%;
}

article{
    display: flex;
    flex-wrap: wrap;
    margin:1vh;
    padding: 1vw;
}

article>section{
    flex-basis: 80%;
}

img{
    margin-left: 2vh;
}


#image1{
    margin-right: 5vh;
}

#image2{
    margin-left: 5vh;
}
 


article p{
    text-align: center;
}

aside{
    padding: 1vw;
    flex-basis: 40%;
   
    margin-left: 1vw;
    
    
}


footer{
    margin: 1rem;
    
    text-align: center;
    
}
